:root {
    /* Primary */
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    /* Neutral */
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--veryDarkBlue);
    background-color: var(--offWhite);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    position: relative;
}

header img {
    width: 40px;
}

nav {
    align-self: center;
}

header button img {
    width: 100%;
}

header button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: transparent;
    border: 0;
    z-index: 1000;
}

nav ul {
    position: fixed;
    inset: 0 0 0 30%;
    background-color: var(--offWhite);
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-decoration: none;
    list-style: none;
    padding: 9rem 1.5rem;
}

nav ul.open {
    transform: translateX(0);
}

header.open::after {
    position: fixed;
    content: '';
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: black;
    z-index: 10;
}

header button.open {
    position: fixed;
}

nav ul a {
    text-decoration: none;
    color: var(--veryDarkBlue);
    font-size: 1rem;
}

nav ul a:hover {
    color: var(--red);
    transition: 75ms ease-in-out;
}

/* Main */
main {
    padding: 0 1rem 5rem;
}

/* Section Top */
.section-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

picture img{
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.section-button {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

p {
    color: var(--darkGrayishBlue);
    line-height: 1.5rem;
}

.section-button button {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .25rem;
    color: var(--offWhite);
    background-color: var(--red);
    padding: 1rem 2rem;
    border: none; 
    align-self: start;
}

.section-button button:hover {
    cursor: pointer;
    background-color: var(--veryDarkBlue);
    transition: 100ms ease-in-out;
}

/* Section Blue */
.section-blue {
    background-color: var(--veryDarkBlue);
    color: var(--offWhite);
    margin-block: 3rem 4rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    color: var(--orange);
    font-size: 1.85rem;
}

.section-blue p {
    line-height: 1.75rem;
    color: var(--grayishBlue);
}

.section-blue > section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h3:hover {
    cursor: pointer;
    color: var(--orange);
    transition: 50ms ease-in-out;
}

hr {
    border-style: none;
    border-top: 1px solid var(--darkGrayishBlue);
}

/* Section Bottom */
.section-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-bottom > section {
    display: flex;
    gap: 1.5rem;
}

.section-bottom > section > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section-bottom img {
    width: 100px;
}

h4 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--grayishBlue);
}

h5 {
    font-weight: 800;
    font-size: 1.1rem;
}

h5:hover {
    cursor: pointer;
    color: var(--red);
    transition: 50ms ease-in-out;
}

@media screen and (min-width: 1000px) {
    /* Header */
    header {
        padding: 3rem 1rem;
        max-width: 1139px;
    }
    
    header img {
        width: 65px;
    }

    header button {
        display: none;
    }
    
    nav ul {
        gap: 2.5rem;
        flex-direction: row;
        inset: unset;
        position: unset;
        background-color: unset;
        padding: unset;
        transform: unset;
    }
    
    /* Main */
    main {
        max-width: 1139px;
        padding: 0 1rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }

    /* Section Top */
    .section-top {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }

    picture {
        grid-column: span 2;
    }

    h1 {
        font-size: 3.25rem;
        line-height: 3.25rem;
    }

    .section-button {
        justify-content: space-between;
    }

    /* Section Blue */
    .section-blue {
        grid-area: 1 / 3 / 3 / 3;
    }

    .section-blue {
        margin-block: unset;
    }

    h2 {
        font-size: 2rem;
    }

    /* Section Bottom */
    .section-bottom {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}